In [1]:
from espn_api.football import League
from collections import defaultdict
import pandas as pd
from ff_utils import owner_clean, load_game_data_from_csv, save_game_data_to_csv 
league_id = 800692
year = 2012
espn_s2="AECIWYgmieI54iV95TVm%2BL135zhJwAnVm9nOZsad1hBOfIEBU4%2FkXAK6mQ61M7xmIoMeITBWYTxDNGJhUbmi8WsARDuq6pmRADmrme1SwUgLsb%2B745GSuJWHIkmLeQoL4nBrBb3CHTExSRD8uIj0xuRlUSZXy12Lcm1YYa6Ha4G6ALVQH9uTmtn6b5XM%2B53qY34w6cPx02NhRgmsdOFGiW%2Bxte4j0f9OYnzGQmPvEV%2BV4lHwvBMMoIkBDE1LAMmTRn8%3D"
SWID="{8B19FBEC-AA6A-4006-99FB-ECAA6AF00669}"
YEARS = range(2012, 2023)

In [2]:
league = League(league_id, year, espn_s2=espn_s2, swid=SWID)
league_map = {}

In [3]:
print("league attributes",[att for att in dir(league) if '__' not in att] )
team = league.teams[0]
print("Teams attributes", [att for att in dir(team) if '__' not in att])

league attributes ['_abc_impl', '_fetch_draft', '_fetch_league', '_fetch_players', '_fetch_teams', '_get_all_pro_schedule', '_get_positional_ratings', '_get_pro_schedule', 'box_scores', 'currentMatchupPeriod', 'current_week', 'draft', 'espn_request', 'fetch_league', 'finalScoringPeriod', 'firstScoringPeriod', 'free_agents', 'get_team_data', 'league_id', 'least_scored_week', 'least_scorer', 'load_roster_week', 'logger', 'most_points_against', 'nfl_week', 'player_info', 'player_map', 'power_rankings', 'recent_activity', 'refresh', 'scoreboard', 'scoringPeriodId', 'settings', 'standings', 'teams', 'top_scored_week', 'top_scorer', 'year']
Teams attributes ['_fetch_roster', '_fetch_schedule', '_get_winner', 'acquisition_budget_spent', 'acquisitions', 'division_id', 'division_name', 'draft_projected_rank', 'drops', 'final_standing', 'get_player_name', 'logo_url', 'losses', 'mov', 'outcomes', 'owner', 'playoff_pct', 'points_against', 'points_for', 'roster', 'schedule', 'scores', 'standing', 'streak_length', 'streak_type', 'team_abbrev', 'team_id', 'team_name', 'ties', 'trades', 'wins']

In [4]:
team_names = defaultdict(list)
for year in YEARS:
    if year in league_map:
        league = league_map[year]
    else:
        league = League(league_id, year, espn_s2=espn_s2, swid=SWID)
        league_map[year] = league
    for team in league.teams:
        if team.team_name not in team_names[team.owner]:
            team_names[team.owner].append(team.team_name)

In [5]:
team_names

defaultdict(list,
            {'Adam Swietek': ['EZ Sweezy',
              'Somewhere over Dwyane Bowe',
              'Turn Down for  Watt'],
             'Trond Liu': ['Ball So Hard',
              'Morning Woodhead',
              'Half Jap, Half Jew Children',
              'Luck Her Right In The Percy',
              'As opposed to  no sacko?!',
              'Han For  Sacko!',
              'Case of Ligma',
              'Check His Papers',
              'Mile high Hairline',
              'Strip Club Talent Scouts',
              'Sacko is only Thing he keeps'],
             'Bhavuk Tandon': ['German Invasion',
              'i JACQUIZZED on ur mom',
              'Even the closet is bigger in TX',
              'New Delhi Sacko Threepeat',
              'Main st vs Wall st',
              'TheBetter brown brother'],
             'Alex Han': ['Team Han'],
             'Matthew Coonrod': ['Team Master Baiters',
              "Gronk if You're Horny",
              'Dez Nutz',
              'Coon Daddy'],
             'Zack Havanec': ['Northern Aggression', 'Geico Trap'],
             'Adam Kitain': ['Team Jewtopia',
              'Team NYC Sour D',
              'Team TLV Sour D',
              'Team TLV Kush',
              'Team Mile High',
              'Team Miles High'],
             'Scott Geary': ["My Couch Pulls  Out but I Don't",
              "Hernandez's  Hit Men",
              'Monday Night Drinking Club',
              'Kip Schwartz'],
             'Jake Wetherall': ['Team Dildo Gaggins'],
             'Athan Cheokas': ['Team Cheokas', 'Artful Dodger'],
             'Zachary Havanec': ['Geico Trap'],
             'Arthur Cheokas': ['Artful Dodger'],
             'Alexander Han': ['Team Han']})

In [6]:
league = league_map[2012]
matchup = league.scoreboard(week=2)[0]
print("matchup attributes",[att for att in dir(matchup) if '__' not in att] )

matchup attributes ['_fetch_matchup_info', 'away_score', 'away_team', 'data', 'home_score', 'home_team', 'is_playoff', 'matchup_type']

In [7]:
#THIS REGENERATES ALL HISTORIC DATA, takes ~60 seconds
# save_game_data_to_csv()

#THIS REGENERATES HISTORIC DATA FOR 1 SEASON
# save_gama_data_to_csv([2022])

In [8]:
at_df = load_game_data_from_csv()
reg_df = at_df[(at_df.is_playoff==False) & (at_df.result != 'NO CONTEST')]

In [9]:
## Lowest scoring game of all time
reg_df.sort_values('team_score').head(5)

,period,team,team_name,opponent,opponent_name,team_score,opponent_score,differential,win,loss,result,is_playoff,matchup_type,year
88,9,Jake Wetherall,Team Dildo Gaggins,Matthew Coonrod,Team Master Baiters,40.0,110.0,70.0,0,1,LOSS,False,NONE,2013
83,9,Adam Kitain,Team TLV Kush,Trond Liu,Case of Ligma,42.0,105.0,63.0,0,1,LOSS,False,NONE,2018
65,7,Adam Kitain,Team NYC Sour D,Jake Wetherall,Team Dildo Gaggins,42.5,133.5,91.0,0,1,LOSS,False,NONE,2015
24,3,Matthew Coonrod,Coon Daddy,Athan Cheokas,Artful Dodger,43.0,92.0,49.0,0,1,LOSS,False,NONE,2017
3,1,Matthew Coonrod,Coon Daddy,Adam Swietek,EZ Sweezy,45.0,86.0,41.0,0,1,LOSS,False,NONE,2017

In [10]:
## Highest scoring game of all time
reg_df.sort_values('team_score', ascending=False).head(5)

,period,team,team_name,opponent,opponent_name,team_score,opponent_score,differential,win,loss,result,is_playoff,matchup_type,year
41,5,Jake Wetherall,Team Dildo Gaggins,Scott Geary,Kip Schwartz,166.0,111.0,55.0,1,0,WIN,False,NONE,2021
13,2,Adam Swietek,EZ Sweezy,Bhavuk Tandon,New Delhi Sacko Threepeat,165.0,91.5,73.5,1,0,WIN,False,NONE,2015
41,5,Adam Kitain,Team TLV Kush,Zack Havanec,Geico Trap,165.0,101.5,63.5,1,0,WIN,False,NONE,2019
38,4,Bhavuk Tandon,Main st vs Wall st,Jake Wetherall,Team Dildo Gaggins,162.5,86.5,76.0,1,0,WIN,False,NONE,2020
77,8,Trond Liu,"Half Jap, Half Jew Children",Alex Han,Team Han,162.5,138.5,24.0,1,0,WIN,False,NONE,2014

In [11]:
## Lowest scoring WIN of all time
win_df = reg_df[reg_df.result == 'WIN']
win_df.sort_values('team_score').head(5)

,period,team,team_name,opponent,opponent_name,team_score,opponent_score,differential,win,loss,result,is_playoff,matchup_type,year
80,9,Athan Cheokas,Artful Dodger,Alex Han,Team Han,66.0,64.5,1.5,1,0,WIN,False,NONE,2021
45,5,Matthew Coonrod,Team Master Baiters,Alex Han,Team Han,69.0,62.0,7.0,1,0,WIN,False,NONE,2013
21,3,Adam Kitain,Team NYC Sour D,Bhavuk Tandon,Even the closet is bigger in TX,69.0,68.0,1.0,1,0,WIN,False,NONE,2014
52,6,Zack Havanec,Geico Trap,Bhavuk Tandon,i JACQUIZZED on ur mom,70.0,70.0,0.0,1,0,WIN,False,NONE,2013
74,8,Adam Kitain,Team NYC Sour D,Adam Swietek,Somewhere over Dwyane Bowe,71.0,47.0,24.0,1,0,WIN,False,NONE,2013

In [12]:
## Highest scoring LOSS of all time
loss_df = reg_df[reg_df.result == 'LOSS']
loss_df.sort_values('team_score', ascending=False).head(5)

,period,team,team_name,opponent,opponent_name,team_score,opponent_score,differential,win,loss,result,is_playoff,matchup_type,year
33,4,Scott Geary,Kip Schwartz,Alex Han,Team Han,142.5,153.5,11.0,0,1,LOSS,False,NONE,2018
1,1,Athan Cheokas,Artful Dodger,Alex Han,Team Han,139.5,155.0,15.5,0,1,LOSS,False,NONE,2022
76,8,Alex Han,Team Han,Trond Liu,"Half Jap, Half Jew Children",138.5,162.5,24.0,0,1,LOSS,False,NONE,2014
95,10,Adam Kitain,Team NYC Sour D,Trond Liu,"Half Jap, Half Jew Children",134.5,161.0,26.5,0,1,LOSS,False,NONE,2014
40,5,Zack Havanec,Geico Trap,Adam Kitain,Team NYC Sour D,134.5,146.0,11.5,0,1,LOSS,False,NONE,2016

In [13]:
## All Time (Regular Season) Records
atr = reg_df.groupby('team').agg({'win': 'sum', 'loss': 'sum', 'team_score': 'sum', 'opponent_score': 'sum'}).reset_index()
atr['games_played'] = atr.win+atr.loss
atr['win_pct'] = atr.win / atr.games_played
atr['pf_pg'] = atr.team_score / atr.games_played
atr['pa_pg'] = atr.opponent_score / atr.games_played
atr.sort_values('win_pct')

,team,win,loss,team_score,opponent_score,games_played,win_pct,pf_pg,pa_pg
4,Bhavuk Tandon,47,67,11455.0,11933.0,114,0.412281,100.482456,104.675439
6,Matthew Coonrod,53,61,11415.0,11471.0,114,0.464912,100.131579,100.622807
5,Jake Wetherall,49,55,10601.0,10368.5,104,0.471154,101.932692,99.697115
0,Adam Kitain,56,58,11219.0,11731.0,114,0.491228,98.412281,102.903509
1,Adam Swietek,56,58,11706.0,11659.0,114,0.491228,102.684211,102.271930
8,Trond Liu,59,55,11658.5,11487.0,114,0.517544,102.267544,100.763158
3,Athan Cheokas,54,50,10625.5,10512.0,104,0.519231,102.168269,101.076923
9,Zack Havanec,60,54,11796.5,11788.0,114,0.526316,103.478070,103.403509
7,Scott Geary,62,52,11944.0,11527.0,114,0.543860,104.771930,101.114035
2,Alex Han,64,50,11663.0,11607.0,114,0.561404,102.307018,101.815789

In [14]:
## Most & Least Points For (normalized per game)
atr.sort_values('pf_pg')

,team,win,loss,team_score,opponent_score,games_played,win_pct,pf_pg,pa_pg
0,Adam Kitain,56,58,11219.0,11731.0,114,0.491228,98.412281,102.903509
6,Matthew Coonrod,53,61,11415.0,11471.0,114,0.464912,100.131579,100.622807
4,Bhavuk Tandon,47,67,11455.0,11933.0,114,0.412281,100.482456,104.675439
5,Jake Wetherall,49,55,10601.0,10368.5,104,0.471154,101.932692,99.697115
3,Athan Cheokas,54,50,10625.5,10512.0,104,0.519231,102.168269,101.076923
8,Trond Liu,59,55,11658.5,11487.0,114,0.517544,102.267544,100.763158
2,Alex Han,64,50,11663.0,11607.0,114,0.561404,102.307018,101.815789
1,Adam Swietek,56,58,11706.0,11659.0,114,0.491228,102.684211,102.271930
9,Zack Havanec,60,54,11796.5,11788.0,114,0.526316,103.478070,103.403509
7,Scott Geary,62,52,11944.0,11527.0,114,0.543860,104.771930,101.114035

In [15]:
## Most & Least Points Against (normalized per game)
atr.sort_values('pa_pg')

,team,win,loss,team_score,opponent_score,games_played,win_pct,pf_pg,pa_pg
5,Jake Wetherall,49,55,10601.0,10368.5,104,0.471154,101.932692,99.697115
6,Matthew Coonrod,53,61,11415.0,11471.0,114,0.464912,100.131579,100.622807
8,Trond Liu,59,55,11658.5,11487.0,114,0.517544,102.267544,100.763158
3,Athan Cheokas,54,50,10625.5,10512.0,104,0.519231,102.168269,101.076923
7,Scott Geary,62,52,11944.0,11527.0,114,0.543860,104.771930,101.114035
2,Alex Han,64,50,11663.0,11607.0,114,0.561404,102.307018,101.815789
1,Adam Swietek,56,58,11706.0,11659.0,114,0.491228,102.684211,102.271930
0,Adam Kitain,56,58,11219.0,11731.0,114,0.491228,98.412281,102.903509
9,Zack Havanec,60,54,11796.5,11788.0,114,0.526316,103.478070,103.403509
4,Bhavuk Tandon,47,67,11455.0,11933.0,114,0.412281,100.482456,104.675439